body {
  font-family: Arial, sans-serif;
  background-color: #000;
  /* Preto */
  color: #fff;
  /* Branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  /* Branco */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  /* Preto */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

form input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  flex: 1;
  border: 1px solid #000;
  /* Preto */
  background-color: #fff;
  /* Branco */
  color: #000;
  /* Preto */
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  /* Preto */
  color: #ffc107;
  /* Amarelo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

form button:hover {
  background-color: #333;
  /* Preto escuro */
}

#increase-bonus,
#decrease-bonus {
  background-color: #fff;
  /* Branco */
  color: #000;
  /* Preto */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000;
  /* Preto */
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#increase-bonus:hover,
#decrease-bonus:hover {
  background-color: #f0f0f0;
  /* Cinza claro */
}

#characters-list {
  margin-bottom: 20px;
  border: 1px solid #000;
  /* Preto */
  background-color: #fff;
  /* Branco */
}

#characters-list div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #000;
  /* Preto */
  color: #000;
  /* Preto */
}

#characters-list div:last-child {
  border-bottom: none;
}

#roll-initiative,
#reset {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  background-color: #000;
  /* Preto */
  color: #ffc107;
  /* Amarelo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#roll-initiative:hover {
  background-color: #333;
  /* Preto escuro */
}



#reset:hover {
  background-color: #333;
  /* Vermelho escuro */
}

#add-and-roll {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000;
  /* Preto */
  color: #ffc107;
  /* Amarelo */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#add-and-roll:hover {
  background-color: #333;
  /* Preto escuro */
}

table {
  width: 100%;
  border-collapse: collapse;
  color: #000;
  /* Preto */
}

th,
td {
  padding: 10px;
  border: 1px solid #dee2e6;
  text-align: left;
  background-color: #fff;
  /* Branco */
}

th {
  background-color: #ffc107;
  /* Amarelo */
}

tbody tr:nth-child(odd) {
  background: #ffc107;
  /* Amarelo */
}

tbody tr:nth-child(even) {
  background: #fff;
  /* Branco */
}

/* Breakpoints */
@media (max-width: 1920px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #increase-bonus,
  #decrease-bonus,
  #add-character,
  #add-and-roll,
  #roll-initiative,
  #reset {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  form button {
    font-size: 14px;
  }

  #roll-initiative,
  #reset {
    font-size: 14px;
  }

  table th,
  table td {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 320px) {

  form input,
  form button,
  #roll-initiative,
  #reset {
    padding: 5px;
    font-size: 12px;
  }

  form {
    padding: 5px;
  }

  .container {
    padding: 5px;
  }
}